;; how row mods
{
  :profiles {:Default
                {
                 :default true
                 :alone   180
                 :delay   200
                 :held    1000
                 :sim     100
                 }
             } 
  :simlayers {;; left-hand on CAGS
              :a-mode {:key :a} ;; left control
              :s-mode {:key :s} ;; left alt
              :d-mode {:key :d} ;; left command
              :f-mode {:key :f} ;; left shift
              ;; right-hand on SGAC (=inverted CAGS)
              :j-mode {:key :j} ;; right control
              :k-mode {:key :k} ;; right alt
              :l-mode {:key :l} ;; right command
              :semicolon-mode {:key :semicolon} ;; right shift
              } 
  :main [;; left-hand on CAGS
         {:des "Left Control to A" ;; CAGS
          :rules [[:condi :a-mode :!s-mode :!d-mode :!f-mode :!j-mode :!k-mode :!l-mode :!semicolon-mode]
                  ;; home row mods CAGS layout
                  ;;[:##a :left_control]
                  [:##s :left_option]
                  [:##d :left_command]
                  [:##f :left_shift]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Tq]
                  [:##w :!Tw]
                  [:##e :!Te]
                  [:##r :!Tr]
                  [:##t :!Tt]
                  [:##y :!Ty]
                  [:##u :!Tu]
                  [:##i :!Ti]
                  [:##o :!To]
                  [:##p :!Tp]

                  ; home-row
                  ;;[:##a :!Ta]
                  [:##s :!Ts]
                  [:##d :!Td]
                  [:##f :!Tf]
                  [:##g :!Tg]
                  [:##h :!Th]
                  [:##j :!Tj]
                  [:##k :!Tk]
                  [:##l :!Tl]
                  [:##semicolon :!Tsemicolon]

                  ;botton row
                  [:##z :!Tz]
                  [:##x :!Tx]
                  [:##c :!Tc]
                  [:##v :!Tv]
                  [:##b :!Tb]
                  [:##n :!Tn]
                  [:##m :!Tm]
                  [:##comma :!Tcomma]
                  [:##period :!Tperiod]
                  [:##slash :!Tslash]

                  ;; number row
                  [:##1 :!T1]
                  [:##2 :!T2]
                  [:##3 :!T3]
                  [:##4 :!T4]
                  [:##5 :!T5]
                  [:##6 :!T6]
                  [:##7 :!T7]
                  [:##8 :!T8]
                  [:##9 :!T9]
                  [:##0 :!T0]

                  ;; other keys
                  [:##hyphen :!Thyphen]
                  [:##equal_sign :!Tequal_sign]
                  [:##backslash :!Tbackslash]
                  [:##open_bracket :!Topen_bracket]
                  [:##close_bracket :!Tclose_bracket]
                  [:##delete_or_backspace :!Tdelete_or_backspace]
                  [:##grave_accent_and_tilde :!Tgrave_accent_and_tilde]
                  [:##quote :!Tquote]
                  [:##return_or_enter :!Treturn_or_enter]
                  [:##tab :!Ttab]
                  [:##escape :!Tescape]
                  [:##left_arrow :!Tleft_arrow]
                  [:##right_arrow :!Tright_arrow]
                  [:##up_arrow :!Tup_arrow]
                  [:##down_arrow :!Tdown_arrow]
                  [:##spacebar :!Tspacebar]

                  ;;functions
                  [:##f1 :!Tf1]
                  [:##f2 :!Tf2]
                  [:##f3 :!Tf3]
                  [:##f4 :!Tf4]
                  [:##f5 :!Tf5]
                  [:##f6 :!Tf6]
                  [:##f7 :!Tf7]
                  [:##f8 :!Tf8]
                  [:##f9 :!Tf9]
                  [:##f10 :!Tf10]
                  [:##f11 :!Tf11]
                  [:##f12 :!Tf12]
                  [:##f13 :!Tf13]
                  [:##f14 :!Tf14]
                  [:##f15 :!Tf15]
                  [:##f16 :!Tf16]
                  [:##f17 :!Tf17]
                  [:##f18 :!Tf18]
                  [:##f19 :!Tf19]
                  [:##f20 :!Tf20]]}
         {:des "Left Option/Alt to S" ;; CAGS
          :rules [[:condi :!a-mode :s-mode :!d-mode :!f-mode :!j-mode :!k-mode :!l-mode :!semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  [:##a :left_control]
                  ;;[:##s :left_option]
                  [:##d :left_command]
                  [:##f :left_shift]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Oq]
                  [:##w :!Ow]
                  [:##e :!Oe]
                  [:##r :!Or]
                  [:##t :!Ot]
                  [:##y :!Oy]
                  [:##u :!Ou]
                  [:##i :!Oi]
                  [:##o :!Oo]
                  [:##p :!Op]

                  ; home-row
                  [:##a :!Oa]
                  ;;[:##s :!Os]
                  [:##d :!Od]
                  [:##f :!Of]
                  [:##g :!Og]
                  [:##h :!Oh]
                  [:##j :!Oj]
                  [:##k :!Ok]
                  [:##l :!Ol]
                  [:##semicolon :!Osemicolon]

                  ;botton row
                  [:##z :!Oz]
                  [:##x :!Ox]
                  [:##c :!Oc]
                  [:##v :!Ov]
                  [:##b :!Ob]
                  [:##n :!On]
                  [:##m :!Om]
                  [:##comma :!Ocomma]
                  [:##period :!Operiod]
                  [:##slash :!Oslash]

                  ;; number row
                  [:##1 :!O1]
                  [:##2 :!O2]
                  [:##3 :!O3]
                  [:##4 :!O4]
                  [:##5 :!O5]
                  [:##6 :!O6]
                  [:##7 :!O7]
                  [:##8 :!O8]
                  [:##9 :!O9]
                  [:##0 :!O0]

                  ;; other keys
                  [:##hyphen :!Ohyphen]
                  [:##equal_sign :!Oequal_sign]
                  [:##backslash :!Obackslash]
                  [:##open_bracket :!Oopen_bracket]
                  [:##close_bracket :!Oclose_bracket]
                  [:##delete_or_backspace :!Odelete_or_backspace]
                  [:##grave_accent_and_tilde :!Ograve_accent_and_tilde]
                  [:##quote :!Oquote]
                  [:##return_or_enter :!Oreturn_or_enter]
                  [:##tab :!Otab]
                  [:##escape :!Oescape]
                  [:##left_arrow :!Oleft_arrow]
                  [:##right_arrow :!Oright_arrow]
                  [:##up_arrow :!Oup_arrow]
                  [:##down_arrow :!Odown_arrow]
                  [:##spacebar :!Ospacebar]

                  ;;functions
                  [:##f1 :!Of1]
                  [:##f2 :!Of2]
                  [:##f3 :!Of3]
                  [:##f4 :!Of4]
                  [:##f5 :!Of5]
                  [:##f6 :!Of6]
                  [:##f7 :!Of7]
                  [:##f8 :!Of8]
                  [:##f9 :!Of9]
                  [:##f10 :!Of10]
                  [:##f11 :!Of11]
                  [:##f12 :!Of12]
                  [:##f13 :!Of13]
                  [:##f14 :!Of14]
                  [:##f15 :!Of15]
                  [:##f16 :!Of16]
                  [:##f17 :!Of17]
                  [:##f18 :!Of18]
                  [:##f19 :!Of19]
                  [:##f20 :!Of20]]}
         {:des "Left Command to D" ;; CAGS
          :rules [[:condi :!a-mode :!s-mode :d-mode :!f-mode :!j-mode :!k-mode :!l-mode :!semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  [:##a :left_control]
                  [:##s :left_option]
                  ;;[:##d :left_command]
                  [:##f :left_shift]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Cq]
                  [:##w :!Cw]
                  [:##e :!Ce]
                  [:##r :!Cr]
                  [:##t :!Ct]
                  [:##y :!Cy]
                  [:##u :!Cu]
                  [:##i :!Ci]
                  [:##o :!Co]
                  [:##p :!Cp]

                  ; home-row
                  [:##a :!Ca]
                  [:##s :!Cs]
                  ;;[:##d :!Cd]
                  [:##f :!Cf]
                  [:##g :!Cg]
                  [:##h :!Ch]
                  [:##j :!Cj]
                  [:##k :!Ck]
                  [:##l :!Cl]
                  [:##semicolon :!Csemicolon]

                  ;botton row
                  [:##z :!Cz]
                  [:##x :!Cx]
                  [:##c :!Cc]
                  [:##v :!Cv]
                  [:##b :!Cb]
                  [:##n :!Cn]
                  [:##m :!Cm]
                  [:##comma :!Ccomma]
                  [:##period :!Cperiod]
                  [:##slash :!Cslash]

                  ;; number row
                  [:##1 :!C1]
                  [:##2 :!C2]
                  [:##3 :!C3]
                  [:##4 :!C4]
                  [:##5 :!C5]
                  [:##6 :!C6]
                  [:##7 :!C7]
                  [:##8 :!C8]
                  [:##9 :!C9]
                  [:##0 :!C0]

                  ;; other keys
                  [:##hyphen :!Chyphen]
                  [:##equal_sign :!Cequal_sign]
                  [:##backslash :!Cbackslash]
                  [:##open_bracket :!Copen_bracket]
                  [:##close_bracket :!Cclose_bracket]
                  [:##delete_or_backspace :!Cdelete_or_backspace]
                  [:##grave_accent_and_tilde :!Cgrave_accent_and_tilde]
                  [:##quote :!Cquote]
                  [:##return_or_enter :!Creturn_or_enter]
                  [:##tab :!Ctab]
                  [:##escape :!Cescape]
                  [:##left_arrow :!Cleft_arrow]
                  [:##right_arrow :!Cright_arrow]
                  [:##up_arrow :!Cup_arrow]
                  [:##down_arrow :!Cdown_arrow]
                  [:##spacebar :!Cspacebar]

                  ;;functions
                  [:##f1 :!Cf1]
                  [:##f2 :!Cf2]
                  [:##f3 :!Cf3]
                  [:##f4 :!Cf4]
                  [:##f5 :!Cf5]
                  [:##f6 :!Cf6]
                  [:##f7 :!Cf7]
                  [:##f8 :!Cf8]
                  [:##f9 :!Cf9]
                  [:##f10 :!Cf10]
                  [:##f11 :!Cf11]
                  [:##f12 :!Cf12]
                  [:##f13 :!Cf13]
                  [:##f14 :!Cf14]
                  [:##f15 :!Cf15]
                  [:##f16 :!Cf16]
                  [:##f17 :!Cf17]
                  [:##f18 :!Cf18]
                  [:##f19 :!Cf19]
                  [:##f20 :!Cf20]]}
         {:des "Left Shift to F" ;; CAGS
          :rules [[:condi :!a-mode :!s-mode :!d-mode :f-mode :!j-mode :!k-mode :!l-mode :!semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  [:##a :left_control]
                  [:##s :left_option]
                  [:##d :left_command]
                  ;;[:##f :left_shift]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Sq]
                  [:##w :!Sw]
                  [:##e :!Se]
                  [:##r :!Sr]
                  [:##t :!St]
                  [:##y :!Sy]
                  [:##u :!Su]
                  [:##i :!Si]
                  [:##o :!So]
                  [:##p :!Sp]

                  ; home-row
                  [:##a :!Sa]
                  [:##s :!Ss]
                  [:##d :!Sd]
                  ;;[:##f :!Sf]
                  [:##g :!Sg]
                  [:##h :!Sh]
                  [:##j :!Sj]
                  [:##k :!Sk]
                  [:##l :!Sl]
                  [:##semicolon :!Ssemicolon]

                  ;botton row
                  [:##z :!Sz]
                  [:##x :!Sx]
                  [:##c :!Sc]
                  [:##v :!Sv]
                  [:##b :!Sb]
                  [:##n :!Sn]
                  [:##m :!Sm]
                  [:##comma :!Scomma]
                  [:##period :!Speriod]
                  [:##slash :!Sslash]

                  ;; number row
                  [:##1 :!S1]
                  [:##2 :!S2]
                  [:##3 :!S3]
                  [:##4 :!S4]
                  [:##5 :!S5]
                  [:##6 :!S6]
                  [:##7 :!S7]
                  [:##8 :!S8]
                  [:##9 :!S9]
                  [:##0 :!S0]

                  ;; other keys
                  [:##hyphen :!Shyphen]
                  [:##equal_sign :!Sequal_sign]
                  [:##backslash :!Sbackslash]
                  [:##open_bracket :!Sopen_bracket]
                  [:##close_bracket :!Sclose_bracket]
                  [:##delete_or_backspace :!Sdelete_or_backspace]
                  [:##grave_accent_and_tilde :!Sgrave_accent_and_tilde]
                  [:##quote :!Squote]
                  [:##return_or_enter :!Sreturn_or_enter]
                  [:##tab :!Stab]
                  [:##escape :!Sescape]
                  [:##left_arrow :!Sleft_arrow]
                  [:##right_arrow :!Sright_arrow]
                  [:##up_arrow :!Sup_arrow]
                  [:##down_arrow :!Sdown_arrow]
                  [:##spacebar :!Sspacebar]

                  ;;functions
                  [:##f1 :!Sf1]
                  [:##f2 :!Sf2]
                  [:##f3 :!Sf3]
                  [:##f4 :!Sf4]
                  [:##f5 :!Sf5]
                  [:##f6 :!Sf6]
                  [:##f7 :!Sf7]
                  [:##f8 :!Sf8]
                  [:##f9 :!Sf9]
                  [:##f10 :!Sf10]
                  [:##f11 :!Sf11]
                  [:##f12 :!Sf12]
                  [:##f13 :!Sf13]
                  [:##f14 :!Sf14]
                  [:##f15 :!Sf15]
                  [:##f16 :!Sf16]
                  [:##f17 :!Sf17]
                  [:##f18 :!Sf18]
                  [:##f19 :!Sf19]
                  [:##f20 :!Sf20]]}
         
         ;; right-hand on inverted CAGS = SGAC
         {:des "Right Shift to J" ;; SGAC
          :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :j-mode :!k-mode :!l-mode :!semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  ;;[:##j :right_shift]
                  [:##k :right_command]
                  [:##l :right_option]
                  [:##semicolon :right_control]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Rq]
                  [:##w :!Rw]
                  [:##e :!Re]
                  [:##r :!Rr]
                  [:##t :!Rt]
                  [:##y :!Ry]
                  [:##u :!Ru]
                  [:##i :!Ri]
                  [:##o :!Ro]
                  [:##p :!Rp]

                  ; home-row
                  [:##a :!Ra]
                  [:##s :!Rs]
                  [:##d :!Rd]
                  [:##f :!Rf]
                  [:##g :!Rg]
                  [:##h :!Rh]
                  ;; [:##j :!Rj]
                  [:##k :!Rk]
                  [:##l :!Rl]
                  [:##semicolon :!Rsemicolon]

                  ;botton row
                  [:##z :!Rz]
                  [:##x :!Rx]
                  [:##c :!Rc]
                  [:##v :!Rv]
                  [:##b :!Rb]
                  [:##n :!Rn]
                  [:##m :!Rm]
                  [:##comma :!Rcomma]
                  [:##period :!Rperiod]
                  [:##slash :!Rslash]

                  ;; number row
                  [:##1 :!R1]
                  [:##2 :!R2]
                  [:##3 :!R3]
                  [:##4 :!R4]
                  [:##5 :!R5]
                  [:##6 :!R6]
                  [:##7 :!R7]
                  [:##8 :!R8]
                  [:##9 :!R9]
                  [:##0 :!R0]

                  ;; other keys
                  [:##hyphen :!Rhyphen]
                  [:##equal_sign :!Requal_sign]
                  [:##backslash :!Rbackslash]
                  [:##open_bracket :!Ropen_bracket]
                  [:##close_bracket :!Rclose_bracket]
                  [:##delete_or_backspace :!Rdelete_or_backspace]
                  [:##grave_accent_and_tilde :!Rgrave_accent_and_tilde]
                  [:##quote :!Rquote]
                  [:##return_or_enter :!Rreturn_or_enter]
                  [:##tab :!Rtab]
                  [:##escape :!Rescape]
                  [:##left_arrow :!Rleft_arrow]
                  [:##right_arrow :!Rright_arrow]
                  [:##up_arrow :!Rup_arrow]
                  [:##down_arrow :!Rdown_arrow]
                  [:##spacebar :!Rspacebar]

                  ;;functions
                  [:##f1 :!Rf1]
                  [:##f2 :!Rf2]
                  [:##f3 :!Rf3]
                  [:##f4 :!Rf4]
                  [:##f5 :!Rf5]
                  [:##f6 :!Rf6]
                  [:##f7 :!Rf7]
                  [:##f8 :!Rf8]
                  [:##f9 :!Rf9]
                  [:##f10 :!Rf10]
                  [:##f11 :!Rf11]
                  [:##f12 :!Rf12]
                  [:##f13 :!Rf13]
                  [:##f14 :!Rf14]
                  [:##f15 :!Rf15]
                  [:##f16 :!Rf16]
                  [:##f17 :!Rf17]
                  [:##f18 :!Rf18]
                  [:##f19 :!Rf19]
                  [:##f20 :!Rf20]]}
         {:des "Right Command to K" ;; SGAC
          :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :!j-mode :k-mode :!l-mode :!semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  [:##j :right_shift]
                  ;;[:##k :right_command]
                  [:##l :right_option]
                  [:##semicolon :right_control]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Qq]
                  [:##w :!Qw]
                  [:##e :!Qe]
                  [:##r :!Qr]
                  [:##t :!Qt]
                  [:##y :!Qy]
                  [:##u :!Qu]
                  [:##i :!Qi]
                  [:##o :!Qo]
                  [:##p :!Qp]

                  ; home-row
                  [:##a :!Qa]
                  [:##s :!Qs]
                  [:##d :!Qd]
                  [:##f :!Qf]
                  [:##g :!Qg]
                  [:##h :!Qh]
                  [:##j :!Qj]
                  ;;[:##k :!Qk]
                  [:##l :!Ql]
                  [:##semicolon :!Qsemicolon]

                  ;botton row
                  [:##z :!Qz]
                  [:##x :!Qx]
                  [:##c :!Qc]
                  [:##v :!Qv]
                  [:##b :!Qb]
                  [:##n :!Qn]
                  [:##m :!Qm]
                  [:##comma :!Qcomma]
                  [:##period :!Qperiod]
                  [:##slash :!Qslash]

                  ;; number row
                  [:##1 :!Q1]
                  [:##2 :!Q2]
                  [:##3 :!Q3]
                  [:##4 :!Q4]
                  [:##5 :!Q5]
                  [:##6 :!Q6]
                  [:##7 :!Q7]
                  [:##8 :!Q8]
                  [:##9 :!Q9]
                  [:##0 :!Q0]

                  ;; other keys
                  [:##hyphen :!Qhyphen]
                  [:##equal_sign :!Qequal_sign]
                  [:##backslash :!Qbackslash]
                  [:##open_bracket :!Qopen_bracket]
                  [:##close_bracket :!Qclose_bracket]
                  [:##delete_or_backspace :!Qdelete_or_backspace]
                  [:##grave_accent_and_tilde :!Qgrave_accent_and_tilde]
                  [:##quote :!Qquote]
                  [:##return_or_enter :!Qreturn_or_enter]
                  [:##tab :!Qtab]
                  [:##escape :!Qescape]
                  [:##left_arrow :!Qleft_arrow]
                  [:##right_arrow :!Qright_arrow]
                  [:##up_arrow :!Qup_arrow]
                  [:##down_arrow :!Qdown_arrow]
                  [:##spacebar :!Qspacebar]

                  ;;functions
                  [:##f1 :!Qf1]
                  [:##f2 :!Qf2]
                  [:##f3 :!Qf3]
                  [:##f4 :!Qf4]
                  [:##f5 :!Qf5]
                  [:##f6 :!Qf6]
                  [:##f7 :!Qf7]
                  [:##f8 :!Qf8]
                  [:##f9 :!Qf9]
                  [:##f10 :!Qf10]
                  [:##f11 :!Qf11]
                  [:##f12 :!Qf12]
                  [:##f13 :!Qf13]
                  [:##f14 :!Qf14]
                  [:##f15 :!Qf15]
                  [:##f16 :!Qf16]
                  [:##f17 :!Qf17]
                  [:##f18 :!Qf18]
                  [:##f19 :!Qf19]
                  [:##f20 :!Qf20]]}
         {:des "Right Option/Alt to L" ;; SGAC
          :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :!j-mode :!k-mode :l-mode :!semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  [:##j :right_shift]
                  [:##k :right_command]
                  ;; [:##l :left_option]
                  [:##semicolon :right_control]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Eq]
                  [:##w :!Ew]
                  [:##e :!Ee]
                  [:##r :!Er]
                  [:##t :!Et]
                  [:##y :!Ey]
                  [:##u :!Eu]
                  [:##i :!Ei]
                  [:##o :!Eo]
                  [:##p :!Ep]

                  ; home-row
                  [:##a :!Ea]
                  [:##s :!Es]
                  [:##d :!Ed]
                  [:##f :!Ef]
                  [:##g :!Eg]
                  [:##h :!Eh]
                  [:##j :!Ej]
                  [:##k :!Ek]
                  ;; [:##l :!El]
                  [:##semicolon :!Esemicolon]

                  ;botton row
                  [:##z :!Ez]
                  [:##x :!Ex]
                  [:##c :!Ec]
                  [:##v :!Ev]
                  [:##b :!Eb]
                  [:##n :!En]
                  [:##m :!Em]
                  [:##comma :!Ecomma]
                  [:##period :!Eperiod]
                  [:##slash :!Eslash]

                  ;; number row
                  [:##1 :!E1]
                  [:##2 :!E2]
                  [:##3 :!E3]
                  [:##4 :!E4]
                  [:##5 :!E5]
                  [:##6 :!E6]
                  [:##7 :!E7]
                  [:##8 :!E8]
                  [:##9 :!E9]
                  [:##0 :!E0]

                  ;; other keys
                  [:##hyphen :!Ehyphen]
                  [:##equal_sign :!Eequal_sign]
                  [:##backslash :!Ebackslash]
                  [:##open_bracket :!Eopen_bracket]
                  [:##close_bracket :!Eclose_bracket]
                  [:##delete_or_backspace :!Edelete_or_backspace]
                  [:##grave_accent_and_tilde :!Egrave_accent_and_tilde]
                  [:##quote :!Equote]
                  [:##return_or_enter :!Ereturn_or_enter]
                  [:##tab :!Etab]
                  [:##escape :!Eescape]
                  [:##left_arrow :!Eleft_arrow]
                  [:##right_arrow :!Eright_arrow]
                  [:##up_arrow :!Eup_arrow]
                  [:##down_arrow :!Edown_arrow]
                  [:##spacebar :!Espacebar]

                  ;;functions
                  [:##f1 :!Ef1]
                  [:##f2 :!Ef2]
                  [:##f3 :!Ef3]
                  [:##f4 :!Ef4]
                  [:##f5 :!Ef5]
                  [:##f6 :!Ef6]
                  [:##f7 :!Ef7]
                  [:##f8 :!Ef8]
                  [:##f9 :!Ef9]
                  [:##f10 :!Ef10]
                  [:##f11 :!Ef11]
                  [:##f12 :!Ef12]
                  [:##f13 :!Ef13]
                  [:##f14 :!Ef14]
                  [:##f15 :!Ef15]
                  [:##f16 :!Ef16]
                  [:##f17 :!Ef17]
                  [:##f18 :!Ef18]
                  [:##f19 :!Ef19]
                  [:##f20 :!Ef20]]}
         {:des "Right Control to ;" ;; SGAC
          :rules [[:condi :!a-mode :!s-mode :!d-mode :!f-mode :!j-mode :!k-mode :!l-mode :semicolon-mode :!q-mode :!m-mode :!e-mode :!w-mode :!nav_layer]
                  ;; home row mods CAGS layout
                  [:##j :right_shift]
                  [:##k :right_command]
                  [:##l :right_option]
                  ;;[:##semicolon :right_control]

                  ;; qwerty 30x grid
                  ; top-row
                  [:##q :!Wq]
                  [:##w :!Ww]
                  [:##e :!We]
                  [:##r :!Wr]
                  [:##t :!Wt]
                  [:##y :!Wy]
                  [:##u :!Wu]
                  [:##i :!Wi]
                  [:##o :!Wo]
                  [:##p :!Wp]

                  ; home-row
                  [:##a :!Wa]
                  [:##s :!Ws]
                  [:##d :!Wd]
                  [:##f :!Wf]
                  [:##g :!Wg]
                  [:##h :!Wh]
                  [:##j :!Wj]
                  [:##k :!Wk]
                  [:##l :!Wl]
                  ;; [:##semicolon :!Wsemicolon]

                  ;botton row
                  [:##z :!Wz]
                  [:##x :!Wx]
                  [:##c :!Wc]
                  [:##v :!Wv]
                  [:##b :!Wb]
                  [:##n :!Wn]
                  [:##m :!Wm]
                  [:##comma :!Wcomma]
                  [:##period :!Wperiod]
                  [:##slash :!Wslash]

                  ;; number row
                  [:##1 :!W1]
                  [:##2 :!W2]
                  [:##3 :!W3]
                  [:##4 :!W4]
                  [:##5 :!W5]
                  [:##6 :!W6]
                  [:##7 :!W7]
                  [:##8 :!W8]
                  [:##9 :!W9]
                  [:##0 :!W0]

                  ;; other keys
                  [:##hyphen :!Whyphen]
                  [:##equal_sign :!Wequal_sign]
                  [:##backslash :!Wbackslash]
                  [:##open_bracket :!Wopen_bracket]
                  [:##close_bracket :!Wclose_bracket]
                  [:##delete_or_backspace :!Wdelete_or_backspace]
                  [:##grave_accent_and_tilde :!Wgrave_accent_and_tilde]
                  [:##quote :!Wquote]
                  [:##return_or_enter :!Wreturn_or_enter]
                  [:##tab :!Wtab]
                  [:##escape :!Wescape]
                  [:##left_arrow :!Wleft_arrow]
                  [:##right_arrow :!Wright_arrow]
                  [:##up_arrow :!Wup_arrow]
                  [:##down_arrow :!Wdown_arrow]
                  [:##spacebar :!Wspacebar]

                  ;;functions
                  [:##f1 :!Wf1]
                  [:##f2 :!Wf2]
                  [:##f3 :!Wf3]
                  [:##f4 :!Wf4]
                  [:##f5 :!Wf5]
                  [:##f6 :!Wf6]
                  [:##f7 :!Wf7]
                  [:##f8 :!Wf8]
                  [:##f9 :!Wf9]
                  [:##f10 :!Wf10]
                  [:##f11 :!Wf11]
                  [:##f12 :!Wf12]
                  [:##f13 :!Wf13]
                  [:##f14 :!Wf14]
                  [:##f15 :!Wf15]
                  [:##f16 :!Wf16]
                  [:##f17 :!Wf17]
                  [:##f18 :!Wf18]
                  [:##f19 :!Wf19]
                  [:##f20 :!Wf20]]}]}